ROCKET_PORT=8010
WEB_VAULT_FOLDER=/opt/web-vault
DATA_FOLDER=/data
DOMAIN={{ 'https' if use_ssl | bool else 'http' }}://{{ server_name }}/vaultwarden
ADMIN_TOKEN={{ vaultwarden_admin_token }}
SIGNUPS_ALLOWED={{ vaultwarden_signups_allowed }}
