[Unit]
Description=Vaultwarden password manager (podman)
After=default.target

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/{{ svc_uid }}"
ExecStartPre=-/usr/bin/podman rm -f vaultwarden
ExecStart=/usr/bin/podman run \
  --name vaultwarden \
  --replace \
  --rm \
  --cap-drop=ALL \
  --security-opt=no-new-privileges \
  -p {{ listen_addr }}:{{ vaultwarden_port }}:8010 \
  --log-driver=k8s-file \
  --log-opt=path={{ container_log_dir }}/vaultwarden/vaultwarden.log \
  -v {{ vaultwarden_data_dir }}:/data:rw \
  --env-file={{ svc_home }}/.config/containers/vaultwarden.env \
  {{ vaultwarden_image_full }}
ExecStop=/usr/bin/podman stop vaultwarden
MemoryMax=512M
CPUQuota=100%
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
