MM_SERVICESETTINGS_SITEURL={{ 'https' if use_ssl | bool else 'http' }}://{{ server_name }}/mattermost
MM_SERVICESETTINGS_LISTENADDRESS=0.0.0.0:{{ mattermost_port }}
MM_SERVICESETTINGS_CONNECTIONSTRING=/opt/mattermost/data/mattermost.db
MM_SQLSETTINGS_DRIVERNAME=sqlite3
MM_SQLSETTINGS_DATASOURCE=/opt/mattermost/data/mattermost.db
MM_FILESETTINGS_DIRECTORY=/opt/mattermost/data/files
MM_LOGSETTINGS_ENABLECONSOLE=true
MM_LOGSETTINGS_CONSOLELEVEL=WARN
MM_LOGSETTINGS_ENABLEFILE=false
MM_SERVICESETTINGS_ENABLELOCALMODE=true
MM_TEAMSETTINGS_ENABLEOPENSERVER=false
MM_EMAILSETTINGS_ENABLESIGNUPWITHEMAIL=true
MM_EMAILSETTINGS_REQUIREEMAILVERIFICATION=false
MM_EMAILSETTINGS_SENDEMAILNOTIFICATIONS=false
MM_PLUGINSETTINGS_ENABLEUPLOADS=true
MM_SERVICESETTINGS_ENABLESECURITYFIXALERT=false
