<?php
$AUTOCONFIG = array(
  'dbtype' => 'sqlite',
  'dbname' => 'nextcloud',
  'directory' => '/data',
  'adminlogin' => '{{ nextcloud_admin_user }}',
  'adminpass' => '{{ nextcloud_admin_password }}',
);
