[Unit]
Description=Transmission BitTorrent client (podman)
After=default.target

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/{{ svc_uid }}"
ExecStartPre=-/usr/bin/podman rm -f transmission
ExecStart=/usr/bin/podman run \
  --name transmission \
  --replace \
  --rm \
  --cap-drop=ALL \
  --security-opt=no-new-privileges \
  -p {{ listen_addr }}:{{ transmission_port }}:{{ transmission_port }} \
  -p {{ transmission_peer_port }}:51413 \
  --log-driver=k8s-file \
  --log-opt=path={{ container_log_dir }}/transmission/transmission.log \
  -v {{ transmission_config_dir }}:/config:rw \
  -v {{ transmission_download_dir }}:/downloads:rw \
  -v {{ transmission_watch_dir }}:/watch:rw \
  {{ transmission_image_full }}
ExecStop=/usr/bin/podman stop transmission
MemoryMax=1G
CPUQuota=200%
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
