[Unit]
Description=SearXNG metasearch engine (podman)
After=default.target

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/{{ svc_uid }}"
ExecStartPre=-/usr/bin/podman rm -f searxng
ExecStart=/usr/bin/podman run \
  --name searxng \
  --replace \
  --rm \
  --cap-drop=ALL \
  --security-opt=no-new-privileges \
  -p {{ listen_addr }}:{{ searxng_port }}:{{ searxng_port }} \
  --log-driver=k8s-file \
  --log-opt=path={{ container_log_dir }}/searxng/searxng.log \
  -v {{ searxng_config_dir }}:/config:rw \
  {{ searxng_image_full }}
ExecStop=/usr/bin/podman stop searxng
MemoryMax=512M
CPUQuota=100%
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
