PAPERLESS_SECRET_KEY={{ paperless_ngx_secret_key }}
PAPERLESS_FORCE_SCRIPT_NAME=/paperless
PAPERLESS_OCR_LANGUAGE={{ paperless_ngx_ocr_language }}
PAPERLESS_REDIS=redis://127.0.0.1:6379
PAPERLESS_DATA_DIR=/data/data
PAPERLESS_MEDIA_ROOT=/data/media
PAPERLESS_CONSUMPTION_DIR=/data/consume
