[Unit]
Description=Paperless-ngx document management (podman)
After=default.target

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/{{ svc_uid }}"
ExecStartPre=-/usr/bin/podman rm -f paperless-ngx
ExecStart=/usr/bin/podman run \
  --name paperless-ngx \
  --replace \
  --rm \
  --cap-drop=ALL \
  --security-opt=no-new-privileges \
  -p {{ listen_addr }}:{{ paperless_ngx_port }}:{{ paperless_ngx_port }} \
  --log-driver=k8s-file \
  --log-opt=path={{ container_log_dir }}/paperless-ngx/paperless-ngx.log \
  -v {{ paperless_ngx_data_dir }}:/data:rw \
  -v {{ paperless_ngx_config_dir }}:/config:rw \
  -v {{ paperless_ngx_consume_dir }}:/data/consume:rw \
  -v {{ paperless_ngx_media_dir }}:/data/media:rw \
  --env-file={{ svc_home }}/.config/containers/paperless-ngx.env \
  {{ paperless_ngx_image_full }}
ExecStop=/usr/bin/podman stop paperless-ngx
MemoryMax=2G
CPUQuota=400%
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
