OPENCLOUD_URL=https://{{ server_name }}/opencloud/
OPENCLOUD_LOG_LEVEL=warn
OPENCLOUD_LOG_COLOR=false
PROXY_HTTP_ADDR=0.0.0.0:{{ opencloud_port }}
OPENCLOUD_ADMIN_USERNAME={{ opencloud_admin_user }}
OPENCLOUD_ADMIN_PASSWORD={{ opencloud_admin_password }}
OPENCLOUD_SECRET_KEY={{ opencloud_secret_key }}
OPENCLOUD_CONFIG_DIR=/etc/opencloud
OPENCLOUD_BASE_DATA_PATH=/data
PROXY_TLS=false
