[Unit]
Description=OpenStreetMap tile server (podman)
After=default.target

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/{{ svc_uid }}"
ExecStartPre=-/usr/bin/podman rm -f openstreetmap
ExecStart=/usr/bin/podman run \
  --name openstreetmap \
  --replace \
  --rm \
  --cap-drop=ALL \
  --security-opt=no-new-privileges \
  -p {{ listen_addr }}:{{ openstreetmap_port }}:{{ openstreetmap_port }} \
  --log-driver=k8s-file \
  --log-opt=path={{ container_log_dir }}/openstreetmap/openstreetmap.log \
  -v {{ openstreetmap_data_dir }}:/data:ro \
  {{ openstreetmap_image_full }}
ExecStop=/usr/bin/podman stop openstreetmap
MemoryMax=1G
CPUQuota=200%
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
